<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>QnA Model</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css">
    <style>
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  
  padding: 10px;
}

.grid-container > div {
  
  text-align: left;
  padding: 20px 0;
  
}
</style>

</head>
<body>
    <!-- <div style="margin: 20px;">
    <form action="/ans" method="POST" >
        
        <label for="context">Enter a Context</label> <br>
        <textarea type="text" name="context" cols="40" rows="4" placeholder="Your sentence here..."></textarea><br>
        <label for="question">Ask a Question</label> <br>
        <input type="text" name="question" id="" placeholder="Question it here...">
        <input type="submit" value="Compute">
    </form>
    </div> -->
   <div class="grid-container">
  <div class="item1">
     <center>
          <h2>Question Answering Model</h2>
     </center>
  </div>
  <div class="item2">
  </div>
  <div class="item3"> <div style="margin: 20px;">
    <form action="/ans" method="POST" >
        
        <label for="context">Enter a Context</label> <br>
        <textarea type="text" name="context" cols="40" rows="4" placeholder="Your sentence here..." style="border-radius: 7px; background-color: rgb(255, 254, 246); border-color:rgba(128, 128, 128, 0.309);"></textarea><br><br>
        <label for="question">Ask a Question</label> <br>
        <textarea type="text" name="question" cols="40" placeholder="Question it here..." style="border-radius: 7px;background-color: rgb(255, 254, 246); border-color:rgba(128, 128, 128, 0.309);"></textarea> <br>
         <h6 style="font-size: 10px; color: rgba(128, 128, 128, 0.775);">score:{{score}}</h6><br> <br>
        <button type="submit" class="btn btn-primary" >Compute</button>
    </form>
    </div></div>  
  <div class="item4">
      <img src="static/right.PNG" alt="" width="60%">
  </div>
  <div class="item5"> 
      <div class="container p-3 my-3 border" style="width:50%;background-color: #ECFDF5;display: inline;margin: 0 1em 0 1em; border-radius:20px; padding-right: 50%; border-color: #D6FAE9; border-width: 10px; ">
        <span>Answer : {{result}}</span>
</div>
  </div>
</div>
</body>
</html>